* {
  color: black;
  padding: 10px;
}

header {
  border: 2px solid pink;
  background-color: gray;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  display: block;
  position: sticky;
  top: 0;
  }

main {
  position: relative;
  color: white;
  text-align: justify;
  font-size: 12px;
  padding: 15px;
  border-radius: 10px;
}

.text, .sidebar {
  display: inline-block;
  vertical-align: top;
  padding: 10px;
}

.text {
  width: 70%;
  background-color: #e9e9e9;
}

.sidebar {
  width: 25%;
  background-color: #ddd;
}

.position-container {
  width: 350px;
  height: 450px;
  background-color: violet;
}

.container {
  position: relative;
  top: 30px;
  left: 100px;
  width: 100px;
  height: 70px;
  background-color: purple;
}

.wrap {
  background-color: blanchedalmond;
}

#img_rng {
  float: right;
  margin-left: 10px;
  margin-top: 10px;
}

.no-wrap {
  clear: both;
}

.overflow {
  background-color: orangered;
  height: 150px;
  width: 300px;
  overflow: scroll;
}

.olap-1, .olap-2 {
  position: absolute;
  width: 160px;
  height: 160px;
  text-align: center;
}

.olap-1 {
  background-color: red;
  z-index: 0;
}

.olap-2 {
  background-color: blue;
  z-index: 1;
  margin-top: 50px;
  margin-left: 30px;
}

footer {
  margin-top: 250px;
  border: 2px solid violet;
	border-radius: 10px;
	display: flex;
	justify-content: center;
  height: 50px;
  }
